body {
  background-color: #0f161f;
  margin: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
  user-select: none;
}

.social-links #github:hover {
  color: #ffffff;
}

.social-links #ig:hover {
  color: #ff4d70;
}

.social-links #reddit:hover {
  color: #ff5700;
}

.social-links a:hover {
  transform: translateY(-3px);
}

.social-links {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  gap: 22px;
  align-items: center;
}

.developer-name {
  font-family: 'Montserrat', sans-serif;
  color: #d0d0d0;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 10px;
  align-self: center;
}

.social-links .developer-name:hover {
  color: #11ed65;
}

.social-links a {
  color: #d0d0d0;
  font-size: 30px;
  text-decoration: none;
  transition: 0
