body{
  background-color:#141d26;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: start;
   margin-left: 50px;
}

.text-container h1{
  font-size: 60px;
  font-family: Montserrat;
  color: white;
  margin-top: 100px;
  margin-bottom: 0px;
}

.text-container h2{
  font-size: 60px;
  font-family: Montserrat;
  color:  #37cf71;
  margin-top: 1px;
  margin-bottom: 0;
}


p{
   font-family: Montserrat;
   font-size: 25px;
   color: #b0b0b0;
   text-transform: capitalize;
   margin-top: 10px;
}

button{
background-color:  #37cf71;
color: white;
font-family:Montserrat;
font-size: 20px;
padding:10px 15px 10px 15px;
border: none;
border-radius: 5px;
font-weight: 500;
margin-top: 40px;
}

button:active{
  scale:1.03;
}


.password-container{
  border-top: 1px solid #283745;
  border-bottom: 1px solid #283745;
  height: 120px;
  margin-top: 40px;
  visibility: hidden;
  margin-left: 35px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.password-container h3{
  font-size: 20px;
  color:  #11ed65 ;
  background-color:#283745 ;
  border-radius: 6px;
  box-sizing: border-box;
  height: 50px;
  width: 240px;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  justify-content: center;
  font-weight:400;
}
